{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "eslintIntegration": true,
  "printWidth": 120,
  "useTabs": true,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}