.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

.lf-1{
  bottom: -0px;
}

.lf-2{
  bottom: -0px;
}

.lf-3{
  bottom: 0px;
}

.lf-4{
  bottom: 0px;
}

.lf-5{
  bottom: 0px;
}

#lf-1 {
  background-image: url(../../shares/images/footer/l1.png);
}

#lf-2 {
  background-image: url(../../shares/images/footer/l2.png);
}

#lf-3 {
  background-image: url(../../shares/images/footer/l3.png);
}

#lf-4 {
  background-image: url(../../shares/images/footer/l4.png);
}

#lf-5 {
  background-image: url(../../shares/images/footer/l6.png);
}