.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
  background: rgb(48,147,175);
  background: linear-gradient(180deg, rgba(48,147,175,1) 0%, rgba(146,179,188,1) 100%);
}

.animation_layer {
  background-position: bottom center;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

.lh-1{
  bottom: -300px;
}

.lh-2{
  bottom: -190px;
}

.lh-3{
  bottom: -10px;
}

.lh-4{
  bottom: 140px;
}

.lh-5{
  bottom: 200px;
}

#lh-1 {
  background-image: url(../../shares/images/layers_3/l1.png);
}

#lh-2 {
  background-image: url(../../shares/images/layers_3/l2.png);
}

#lh-3 {
  background-image: url(../../shares/images/layers_3/l3.png);
}

#lh-4 {
  background-image: url(../../shares/images/layers_3/l4.png);
}

#lh-5 {
  background-image: url(../../shares/images/layers_3/l5.png);
}

#lh-sky {
  background-image: url(../../shares/images/layers_2/l_sky.png);
}

#lh-water {
  background-image: url(../../shares/images/layers_2/l_water.png);
}