.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
}

.animation_layer {
  background-position: bottom center;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

.lh_1 {
  background-image: url(../../shares/images/header/l1.png);
}

.lh_2 {
  background-image: url(../../shares/images/header/l2.png);
}

.lh_3 {
  background-image: url(../../shares/images/header/l3.png);
}

.lh_4 {
  background-image: url(../../shares/images/header/l4.png);
}

.lh_5 {
  background-image: url(../../shares/images/header/l5.png);
}

.lh_sky {
  background-image: url(../../shares/images/header/l_sky.png);
}

.lh_water {
  background-image: url(../../shares/images/header/l_water.png);
}

.lf_1 {
  background-image: url(../../shares/images/footer/l1.png);
}

.lf_2 {
  background-image: url(../../shares/images/footer/l2.png);
}

.lf_3 {
  background-image: url(../../shares/images/footer/l3.png);
}

.lf_4 {
  background-image: url(../../shares/images/footer/l4.png);
}

.lf_5 {
  background-image: url(../../shares/images/footer/l6.png);
}