@import "@/shares/styles/antf-fx.css";
@import "@/components/block_parallax/header";
@import "@/components/block_parallax/footer";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: #49B8E5;
    --secondary: #2B2A29;
    --background: #FFFFFF;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

.bg{
    background: linear-gradient(180deg, #92b3bc, #0d4479);
    background-size: 100% 100%;
    height: 100vh;
}

body {
    color: var(--secondary);
    /*background: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent,*/
    /*        rgb(var(--background-end-rgb))*/
    /*) rgb(var(--background-start-rgb));*/
    font-family: 'Roboto', serif;
    overflow-x: hidden;
    height: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/*@layer base {*/
/*    :root {*/
/*        --color-primary: #49B8E5;*/
/*        --color-secondary: #2B2A29;*/
/*        !* ... *!*/
/*    }*/
/*}*/

